/* gmap.css */
.map-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.map-container iframe {
  width: 100%;
  height: 450px;
  border: 0;
  border-radius: 10px;
}
